.clear-both {
  clear: both;
}

.hover_button {
  background-color: #b61984;
  color: #fff;
  transition: ease-in-out all 0.4s;
  box-shadow: 0 0 0 3em #b61984 inset;
  transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: center;
  background: transparent;
}
.hover_button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}

.tabula_nav-btn {
  padding: 0.85em 1.3em;
  border-radius: 24px;
  font-size: 13.5px;
  font-weight: 500;
}

#header_first {
  transition: all 0.5s;
  animation: menu linear 0.3s;
}
#header_first.show {
  background-color: #fff;
  top: 0;
  height: 48px;
  width: 100%;
  animation: hoverNavbar linear 0.6s;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
}
#header_first.show .nav-item {
  padding-top: 0;
  padding-bottom: 0;
}
#header_first.show .nav-item::after {
  display: none;
}
#header_first.show .header_logo {
  display: none;
}

header {
  font-size: 13px;
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 80px;
}
header .header_content2 {
  display: none;
}
header nav {
  height: 100%;
}
header nav.navbar-expand-lg {
  padding: 8px 32px;
}
header img {
  width: 80px;
}
header .nav_icon i {
  cursor: pointer;
  padding: 5px;
  transition: all 0.4s;
}
header .nav_icon i:hover {
  color: #b61984;
}
header #navbarNavDropdown {
  height: 100%;
}
header .nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-contact .nav_icon {
  display: flex;
}

.header_content {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}
.header_content .navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.header_content .nav-item {
  display: flex;
  cursor: pointer;
  padding: 16px 0;
  align-items: center;
  padding-right: 23px;
  padding-left: 15px;
  position: relative;
  transition: all 0.4s;
}
.header_content .nav-item:nth-child(6) {
  padding-right: 42px;
}
.header_content .nav-item::after {
  content: "";
  display: block;
  background-color: transparent;
  position: relative;
  width: 150%;
  height: 9px;
  top: -10px;
}
.header_content .nav-item:hover .nav-link::after {
  width: 12px;
  height: 12px;
  opacity: 1;
  transition: all 0.5s;
}
.header_content .nav-item .nav-link {
  color: #181818;
  font-weight: 600;
  height: 100%;
  transition: all 0.5s;
}

.header_link {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}
.header_link .header_clone {
  position: absolute;
  width: 780px;
  top: 100%;
  opacity: 0;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  visibility: hidden;
  transition: all 0.5s;
  display: flex;
  transform: scale(0.7);
  transition: all 0.3s;
}
.header_link .header_clone .nav-item {
  display: flex;
  align-items: center;
}
.header_link .header_clone .header_list {
  background-color: #fff;
  width: 35%;
}
.header_link .header_clone .header_list .headList_jr {
  transition: all 0.5s;
  line-height: 2.7rem;
  padding: 0em 1.5em;
  color: #181818;
  font-size: 0.9em;
  font-weight: 600;
}
.header_link .header_clone .header_list .headList_jr:hover {
  color: #b61984;
}
.header_link .header_clone .header_list .headList_jr.active {
  line-height: 2.2rem;
}
.header_link .header_clone .header_list .headList_jr.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #b61984;
}
.header_link .header_clone .header_list .headList_jr::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navHome::before, .header_about::before, .header_course::before, .header_blog::before, .header_shop::before, .header_element::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  background-color: #b61984;
  border-radius: 50%;
  top: 100%;
  right: 50%;
  z-index: 12;
  transform: scale(1);
  transform: translateY(-50%);
  transition: all 0.6s;
  opacity: 0;
}
.navHome:hover::before, .header_about:hover::before, .header_course:hover::before, .header_blog:hover::before, .header_shop:hover::before, .header_element:hover::before {
  width: 11px;
  height: 11px;
  opacity: 1;
}
.navHome.active::before, .header_about.active::before, .header_course.active::before, .header_blog.active::before, .header_shop.active::before, .header_element.active::before {
  width: 9px;
  height: 9px;
  opacity: 1;
}
.navHome.active:hover::before, .header_about.active:hover::before, .header_course.active:hover::before, .header_blog.active:hover::before, .header_shop.active:hover::before, .header_element.active:hover::before {
  width: 10px;
  height: 10px;
}
.navHome:hover .header_clone, .header_about:hover .header_clone, .header_course:hover .header_clone, .header_blog:hover .header_clone, .header_shop:hover .header_clone, .header_element:hover .header_clone {
  visibility: visible;
  transform-origin: center;
  transform: scale(1);
  transition: all 0.4s;
  opacity: 1;
}

.navHome .header_clone, .header_element .header_clone {
  left: -375px;
}

.header_element .header_list {
  text-align: right;
}

.header_about .header_clone, .header_course .header_clone, .header_blog .header_clone, .header_shop .header_clone {
  width: 222px;
  left: 10%;
}
.header_about .header_clone .header_list, .header_course .header_clone .header_list, .header_blog .header_clone .header_list, .header_shop .header_clone .header_list {
  width: 222px;
}

.header_shop {
  text-align: right;
}

.sub-single, .sub-gallery {
  position: relative;
}
.sub-single:hover .tabula_sub2, .sub-gallery:hover .tabula_sub2 {
  opacity: 1;
  visibility: visible;
}
.sub-single::before, .sub-gallery::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #b61984;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sub-single .tabula_sub2, .sub-gallery .tabula_sub2 {
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  width: 220px;
  left: 100%;
  top: 0;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
}
.sub-single .tabula_sub2 li, .sub-gallery .tabula_sub2 li {
  transition: all 0.4s;
  line-height: 2.8rem;
  padding: 0em 1.5em;
  color: #181818;
  font-size: 1em;
  font-weight: 600;
}
.sub-single .tabula_sub2 li:hover, .sub-gallery .tabula_sub2 li:hover {
  color: #b61984;
}
.sub-single .tabula_sub2 li::after, .sub-gallery .tabula_sub2 li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes menu {
  49% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0);
  }
}
@keyframes hoverNavbar {
  49% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 992px) {
  body.show {
    overflow-y: hidden;
  }
  #header_first .navbar .navbar-expand-lg,
#header_first .navbar,
#header_first .tapula-padding {
    padding: 0;
  }
  #header_first .navbar-expand-lg {
    position: relative;
  }
  #header_first .navbar-toggler {
    z-index: 12;
  }
  .header_link {
    display: none;
    top: 0;
    overflow-y: scroll;
    width: 60vw;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    position: absolute;
  }
  .header_link .tabula_nav-contacts {
    margin: 2em 0;
  }
  .header_link .tabula_nav-contacts .tabula_nav-btn {
    margin: 1em auto 10px auto;
    width: 190px;
  }
  .header_link .header_content {
    display: block;
    margin-left: 0;
    text-align: left;
  }
  .header_link .header_content2 {
    display: none;
    text-align: center;
    width: 100%;
  }
  .header_link .header_content2 i {
    color: rgb(100, 96, 96);
  }
  .header_link .header_content2 .tabula_sub-title {
    font-size: 0.9em;
    padding: 1em 2em;
    line-height: 1.1;
    font-weight: 400;
  }
  .header_link .header_content2 .nav-item {
    width: 100%;
    line-height: 1.2;
  }
  .header_link .header_content2 .nav-item.tabula_sub-about span, .header_link .header_content2 .nav-item.tabula_sub-about .tabula_sub-list:nth-child(3) {
    font-weight: 599;
  }
  .header_link .header_content2 .navHome, .header_link .header_content2 .header_about, .header_link .header_content2 .header_course, .header_link .header_content2 .header_blog, .header_link .header_content2 .header_shop, .header_link .header_content2 .header_element {
    text-align: center;
  }
  .header_link .header_content2 .navHome::before, .header_link .header_content2 .header_about::before, .header_link .header_content2 .header_course::before, .header_link .header_content2 .header_blog::before, .header_link .header_content2 .header_shop::before, .header_link .header_content2 .header_element::before {
    display: none;
  }
  .header_link .header_content2 .navHome .tabula_sub-title, .header_link .header_content2 .header_about .tabula_sub-title, .header_link .header_content2 .header_course .tabula_sub-title, .header_link .header_content2 .header_blog .tabula_sub-title, .header_link .header_content2 .header_shop .tabula_sub-title, .header_link .header_content2 .header_element .tabula_sub-title {
    font-size: 1em;
    font-weight: 400;
  }
  .header_link .header_content2 .navHome.show .tabula_sub-mobile, .header_link .header_content2 .header_about.show .tabula_sub-mobile, .header_link .header_content2 .header_course.show .tabula_sub-mobile, .header_link .header_content2 .header_blog.show .tabula_sub-mobile, .header_link .header_content2 .header_shop.show .tabula_sub-mobile, .header_link .header_content2 .header_element.show .tabula_sub-mobile {
    display: block;
  }
  .header_link .header_content2 .tabula_sub-mobile {
    display: none;
  }
  .header_link .header_content2 .tabula_sub2 .tabula_sub-items .tabula_sub-list {
    padding: 1em 2em;
    line-height: 1.1;
  }
  .header_link .header_content2 .header_blog .headList_jr .tabula_sub-list-sub {
    padding: 0;
  }
  .header_link .header_content2 .header_blog .tabula_sub2-mobile li {
    font-size: 0.9em;
    padding: 1em 2em;
    opacity: 0.8;
  }
  .header_link .header_content2 .headList_jr {
    font-size: 0.9em;
  }
  .header_link .header_content2 .headList_jr.show .tabula_sub-items,
.header_link .header_content2 .headList_jr.show .fa-angle-up,
.header_link .header_content2 .headList_jr.show .tabula_sub2-mobile {
    display: block;
  }
  .header_link .header_content2 .headList_jr.show .fa-angle-down {
    display: none;
  }
  .header_link .header_content2 .headList_jr .tabula_sub2-mobile {
    display: none;
  }
  .header_link .header_content2 .headList_jr .tabula_sub-items,
.header_link .header_content2 .headList_jr .tabula_sub-list-sub,
.header_link .header_content2 .headList_jr .fa-angle-down {
    display: block;
  }
  .header_link .header_content2 .headList_jr.tabula_sub-list-sub .tabula_sub-list-sub.tabula_sub-title {
    padding: 1em 2em;
    line-height: 1.1;
  }
  .header_link .header_content2 .headList_jr.tabula_sub-list-sub .tabula_sub2-mobile .tabula_sub2-mobile-itemss {
    padding: 1em 2em;
  }
  .header_link .header_content2 .headList_jr.tabula_sub-list-sub .tabula_sub2-mobile .headList_jr {
    padding: 1em 2em;
    font-size: 0.8em;
    opacity: 0.6;
  }
  .header_link .header_content2 .headList_jr .tabula_sub-list-sub.show .tabula_sub2-mobile,
.header_link .header_content2 .headList_jr .tabula_sub-list-sub.show .fa-angle-up {
    display: block;
  }
  .header_link .header_content2 .headList_jr .tabula_sub-list-sub.show .fa-angle-down {
    display: none;
  }
  .header_link .header_content2 .headList_jr .tabula_sub-list-sub .tabula_sub2-mobile,
.header_link .header_content2 .headList_jr .tabula_sub-list-sub .fa-angle-up {
    display: none;
  }
  .header_link .header_content2 .headList_jr .tabula_sub-list-sub .fa-angle-down {
    display: block;
  }
  .header_link .tabula_sub-title {
    position: relative;
  }
  .header_link .tabula_sub-title i {
    cursor: pointer;
    position: absolute;
    font-size: 0.9em;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    transition: all 0.4s;
  }
  .header_link .tabula_sub-title .fa-angle-up {
    display: none;
  }
  .header_link .navbar-nav {
    padding: 0 50px;
  }
}
@media screen and (max-width: 992px) {
  #header_first .header_content {
    display: none;
  }
  #header_first .header_content2 {
    display: block;
  }
  .header_link {
    display: block;
  }
  .header_link .tabula_logo {
    text-align: center;
  }
  .header_link .tabula_nav-contacts {
    flex-direction: column;
  }
}
#about_us {
  padding: 4em 0;
  position: relative;
}
#about_us .about_service .row {
  align-items: center;
}
#about_us .about_title p {
  color: #b61984;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
}
#about_us .about_title h2 {
  color: #181818;
  font-size: 3.8rem;
  font-weight: 700;
}

.active {
  padding: 0 31px;
}

.about_Top {
  position: absolute;
  top: 0;
}

.about_Bot {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  #about_us {
    z-index: 1;
    padding: 6.8em 0;
  }
  #about_us .about_title {
    z-index: 12;
    margin-bottom: 2.8em;
  }
  #about_us .about_title p {
    font-size: 15px;
  }
  #about_us .about_title h2 {
    font-size: 3.15rem;
  }
  #about_us .about_img {
    padding: 0 5px;
  }
}
#main_info {
  background-color: #dcd1f3;
}
#main_info .info_item {
  padding: 1em;
  padding-left: 1.5em;
  text-align: center;
  z-index: 4;
}
#main_info .info_item:hover .info_contact {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
#main_info .info_item .info_contact {
  transition: all 0.5s;
  background-color: #fff;
  border-radius: 10px;
}
#main_info .info_item .info_img {
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s;
}
#main_info .info_item .info_img img {
  transition: linear all 0.5s;
}
#main_info .info_item .info_img:hover img {
  transform: scale(1.1);
}
#main_info .info_test p {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 24px;
}
#main_info .info_test h2 {
  color: #181818;
  font-size: 1.55rem;
  font-weight: 700;
}
#main_info .info_test h3 {
  color: #181818;
  font-size: 15px;
  font-weight: 400;
  margin: 0 16px;
  padding-top: 58px;
  padding-bottom: 32px;
  line-height: 1.8em;
}

@media screen and (max-width: 992px) {
  #main_info .info_list {
    padding: 0 10px;
  }
}
#course_email {
  max-width: calc(100% - 60px);
  margin: 0 auto;
  padding-top: 30px;
}
#course_email .course_img {
  width: 100%;
  z-index: 4;
}
#course_email .course_img .course_img2 {
  padding-top: 60px;
  padding-right: 42px;
  padding-left: 120px;
}
#course_email .course_form {
  margin-top: 50px;
  padding-right: 105px;
  z-index: 4;
}
#course_email .course_form .course_form-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 28px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
#course_email .course_form .course_form-item h2 {
  color: #181818;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 45px;
  padding-top: 41px;
}
#course_email .course_form .course_form-item .course_name, #course_email .course_form .course_form-item .tabula_area-wrap, #course_email .course_form .course_form-item .course_select, #course_email .course_form .course_form-item .course_contact {
  padding-right: 16px;
  margin-bottom: 15px;
  position: relative;
}
#course_email .course_form .course_form-item .course_name span, #course_email .course_form .course_form-item .tabula_area-wrap span, #course_email .course_form .course_form-item .course_select span, #course_email .course_form .course_form-item .course_contact span {
  padding-right: 15px;
}
#course_email .course_form .course_form-item .course_name .form-control, #course_email .course_form .course_form-item .tabula_area-wrap .form-control, #course_email .course_form .course_form-item .course_select .form-control, #course_email .course_form .course_form-item .course_contact .form-control {
  transition: all 0.5s;
  font-size: 0.8em;
  padding: 1em 1em 1em 3.5em;
  height: 3.7em;
  border-radius: 50px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#course_email .course_form .course_form-item .course_name .form-control:focus, #course_email .course_form .course_form-item .tabula_area-wrap .form-control:focus, #course_email .course_form .course_form-item .course_select .form-control:focus, #course_email .course_form .course_form-item .course_contact .form-control:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
#course_email .course_form .course_form-item .course_name i, #course_email .course_form .course_form-item .tabula_area-wrap i, #course_email .course_form .course_form-item .course_select i, #course_email .course_form .course_form-item .course_contact i {
  color: #b61984;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
#course_email .course_form .course_form-item .course_select .course-option.show span {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
#course_email .course_form .course_form-item .course_select .course-option.show .tabula_select {
  display: block;
}
#course_email .course_form .course_form-item .course_select .course-option.show .tabula_select li {
  cursor: pointer;
  transition: all 0.5s;
}
#course_email .course_form .course_form-item .course_select .course-option.show .tabula_select li:hover {
  color: #b61984;
}
#course_email .course_form .course_form-item .course_select .course-option.show .fa-angle-up {
  display: block;
}
#course_email .course_form .course_form-item .course_select .course-option.show .fa-angle-down {
  display: none;
}
#course_email .course_form .course_form-item .course_select .course-option .course_option-text {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
#course_email .course_form .course_form-item .course_select .course-option .course_option-text span {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s;
  padding-left: 36px;
  line-height: 3.2em;
  opacity: 0.8;
  font-size: 0.8em;
  display: block;
  cursor: pointer;
  border-radius: 50px;
}
#course_email .course_form .course_form-item .course_select .course-option .course_option-text span i {
  position: absolute;
  color: #b61984;
  left: 95%;
}
#course_email .course_form .course_form-item .course_select .course-option .tabula_select {
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 36px;
  opacity: 0.8;
  font-size: 0.8em;
}
#course_email .course_form .course_form-item .course_select .course-option .fa-angle-down {
  display: block;
}
#course_email .course_form .course_form-item .course_select .course-option .fa-angle-up {
  display: none;
}
#course_email .course_form .course_form-item .course_select i {
  color: #b61984;
  font-size: 12px;
  opacity: 1;
  z-index: 4;
}
#course_email .course_form .course_form-item .tabula_area-wrap {
  border-radius: 30px;
}
#course_email .course_form .course_form-item .tabula_area-wrap i {
  top: 20px;
}
#course_email .course_form .course_form-item .tabula_area-wrap .mess {
  font-size: 0.8em;
  border-radius: 12px;
  width: 100%;
  padding-top: 8px;
  padding-left: 34px;
  height: 87px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
#course_email .course_form .course_form-item .tabula_area-wrap .mess:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
#course_email .course_form .course_form-item .course_send {
  width: 150px;
  margin: 2em 0;
  margin-bottom: 6em;
  height: 4em;
  line-height: 2.8em;
  letter-spacing: 1px;
  font-size: 0.8em;
  border-radius: 50px;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 15px;
  }
  #course_email .course_img {
    padding: 0;
  }
  #course_email .course_form .course_name, #course_email .course_form .course_form-item .course_contact, #course_email .course_form .course_form-item .course_select, #course_email .course_form .course_form-item .tabula_area-wrap {
    width: 100%;
  }
  #course_email .course_form .course_contact {
    width: 100%;
  }
  #course_email .course_form .course_form-item {
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0;
  }
  #course_email .course_form .course_form-item h2 {
    padding-top: 14px;
    font-size: 2rem;
  }
  #course_email .course_form .course_form-item .course_content {
    padding-top: 22px;
  }
  #course_email .course_form .course_form-item .course_content {
    padding: 0 25px;
  }
}
@media screen and (max-width: 992px) {
  #course_email .course_form {
    padding: 19px;
    padding-top: 30px;
  }
}
#tabula_footer {
  background-image: url(http://tabula.bold-themes.com/wavy/wp-content/uploads/sites/3/2019/03/footer_background.jpg);
  background-position: top center;
  background-size: cover;
}
#tabula_footer .footer_content {
  padding: 0 8px;
}
#tabula_footer .row {
  padding-top: 7.5em;
  padding-bottom: 11.5em;
}
#tabula_footer .footer_contact {
  padding: 0 30px;
}
#tabula_footer .footer_contact .about {
  padding: 0 26px;
}
#tabula_footer .footer_contact h2 {
  color: #fff;
  font-size: 1.55rem;
  font-weight: 700;
  margin-bottom: 30px;
}
#tabula_footer .footer_contact ul .itemSS {
  margin: 15px -39px;
}
#tabula_footer .footer_contact ul li {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  line-height: 1.1;
  align-items: center;
  margin-bottom: 1em;
}
#tabula_footer .footer_contact ul li i {
  line-height: 1;
  margin-right: 0.8em;
}
#tabula_footer .footer_contact .footer_lists {
  display: flex;
  flex-direction: column;
  float: left;
}
#tabula_footer .footer_contact .footer_lists li {
  transition: all 0.3s;
  cursor: pointer;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#tabula_footer .footer_contact .footer_lists li:hover {
  opacity: 0.7;
}
#tabula_footer .footer_contact .footer_icon {
  display: flex;
  align-items: center;
}
#tabula_footer .footer_contact .footer_icon i {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding-right: 1em;
  cursor: pointer;
  transition: all 0.4s;
}
#tabula_footer .footer_contact .footer_icon i:hover {
  color: #181818;
}
#tabula_footer .footer_contact .footer_email {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border: none;
  color: #fff;
  -webkit-text-fill-color: #fff;
  transition: all 0.5s;
  width: 100%;
  height: 3.2em;
  border: 1px solid transparent;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  margin-top: 15px;
  border-radius: 50px;
}
#tabula_footer .footer_contact .footer_email:focus {
  transition: all 0.5s;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
#tabula_footer .footer_contact .btn-footer {
  background-color: #b61984;
  border: 1px solid #fff;
  font-size: 0.8em;
  width: 100%;
  color: #181818;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 3em #fff inset;
  letter-spacing: 1px;
  font-weight: 600;
  height: 4em;
}
#tabula_footer .footer_contact .btn-footer:hover {
  color: #fff;
  box-shadow: 0px 0px 0px 1px #fff inset;
}

@media screen and (max-width: 992px) {
  #tabula_footer .footer_contact {
    padding: 0 4px;
    margin-bottom: 50px;
  }
  #tabula_footer .row {
    padding-top: 8em;
  }
  #tabula_footer .footer_left {
    margin-left: 35px;
  }
  #tabula_footer .col-sm-6 {
    padding-right: 0;
  }
  #tabula_footer .footer_content {
    padding: 0 25px;
  }
}
@media screen and (max-width: 576px) {
  #tabula_footer .footer_left {
    margin-left: 0;
  }
  #tabula_footer .footer_content {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */