#header_first {
    transition: all 0.5s;
    animation: menu linear 0.3s;
    &.show {
        top: 0;
        box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
        animation: hoverNavbar linear 0.6s;
        position: fixed;
        background-color: #fff;
        height: 48px;
        width: 100%;
        .tabula_logo {
            display: none;
        }
        .nav-item {
            &::after {
                display: none;
            }

            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

header {
    .header_content2 {
        display: none;
    }
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 80px;
    font-size: $fsp-1;
    nav {
        height: 100%;
    }

    nav.navbar-expand-lg {
        padding: 5px 32px;
    }

    img {
        width: 80px;
    }

    .nav_icons i {
        cursor: pointer;
        padding: 5px;
        transition: all 0.4s;
        &:hover {
            color: $color-primary;
        }
    }
    #navbarNavDropdown {
        height: 100%;
    }

}
.header_content {
    display: flex;
    margin-left: auto;
    height: 100%;
    align-items: center;
    .navbar-nav {
        height: 100%;
    }
    .nav-item {
        &:nth-child(6) {
            padding-right: 40px;
        }
        display: flex;
        cursor: pointer;
        padding: 15px 0;
        align-items: center;
        padding-right: 23px;
        padding-left: 12px;
        position: relative;
        transition: all 0.5s;
        &::after {
            content: "";
            background-color: transparent;
            display: block;
            width: 150%;
            height: 10px;
            top: -10px;
            position: relative;
        }

        &:hover {
            .nav-link::after {
                width: 12px;
                height: 12px;
                opacity: 1;
                transition: all 0.5s;
            }
        }
        .nav-link {
            color: $color-black;
            font-weight: $fw3;
            height: 100%;
            transition: all 0.5s;
        }
    }
}
//sub
.tabula_wrapper-navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    .header_clone {
        opacity: 0;
        width: 780px;
        top: 100%;
        box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
        visibility: hidden;
        transition: all 0.5s;

        .nav-item {
            display: flex;
            align-items: center;
        }
        .header_list {
            background-color: #fff;
            width: 36%;
            .tabula_sub-list {
                transition: all 0.5s;
                &:hover {
                    color: $color-primary;
                }

                &.active {
                    line-height: 2.2rem;
                }
                &.active::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $color-primary;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.1);
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                line-height: 2.8rem;

                padding: 0em 1.5em;
                @include styleText($color-black, $fse-1, $fw3);
            }
        }
        transition: all 0.3s;
        display: flex;
        transform: scale(0.8);
    }
}
.navHome,
.tabula_sub-about,
.tabula_sub-course,
.tabula_sub-blog,
.tabula_sub-shop,
.tabula_sub-ele {
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        background-color: $color-primary;
        border-radius: 50%;
        top: 100%;
        right: 50%;
        z-index: 12;
        transform: scale(1);
        transform: translateY(-50%);
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover::before {
        width: 11px;
        height: 11px;
        opacity: 1;
    }
    &.active {
        &::before {
            width: 9px;
            height: 9px;
            opacity: 1;
        }
        &:hover::before {
            width: 11px;
            height: 11px;
        }
    }
    &:hover .header_clone {
        transition: all 0.5s;
        visibility: visible;
        transform-origin: center;
        opacity: 1;
        transform: scale(1);
    }
}
//tabula -Home hover
.navHome,
.tabula_sub-ele {
    .header_clone {
        left: -375px;
    }
}
.tabula_sub-ele {
    .header_list {
        text-align: right;
    }
}
.tabula_sub-course,
.tabula_sub-blog,
.tabula_sub-about,
.tabula_sub-shop {
    .header_clone {
        width: 222px;
        left: 10%;

        .header_list {
            width: 220px;
        }
    }
}

//tabula -Shop hover
.tabula_sub-shop {
    text-align: right;
}
//Tabula sub2
.sub-single {
    &:hover .tabula_sub2 {
        opacity: 1;
        visibility: visible;
    }
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #b61984;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .tabula_sub2 {
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        width: 220px;
        left: 100%;
        top: 0;
        box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);

        li {
            transition: all 0.4s;
            &:hover {
                color: $color-primary;
            }
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.1);
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            line-height: 2.8rem;

            padding: 0em 1.5em;
            @include styleText($color-black, $fse-1 + 0.1, $fw3);
        }
    }
}
.sub-gallery {
    @extend .sub-single;
}

//animate
@keyframes menu {
    49% {
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(0);
    }
}
@keyframes hoverNavbar {
    49% {
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(0);
    }
}

// responsive
@include responsive("large") {
    body.show {
        overflow-y: hidden;
    }
    #header_first {
        .navbar .navbar-expand-lg,
        .navbar,
        .tapula-padding {
            padding: 0;
        }
        .navbar-expand-lg {
            position: relative;
        }
        .navbar-toggler {
            z-index: 12;
        }
    }

    .tabula_wrapper-navbar {
        display: none;
        overflow-y: scroll;
        width: 60vw;
        height: 100vh;
        top: 0;
        position: absolute;
        background-color: #fff;
        flex-direction: column;
        .tabula_nav-contacts {
            margin: 2em 0;
            .tabula_nav-btn {
                margin: 1em auto 10px auto;
                width: 190px;
            }
        }
        .header_content {
            display: block;
            margin-left: 0;
            text-align: left;
        }
        .header_content2 {
            display: none;
            text-align: center;
            width: 100%;
            i {
                color: rgb(100 96 96);
            }
            .tabula_sub-title {
                font-size: $fse-1;
                padding: 1em 2em;
                line-height: 1.1;
                font-weight: $fw1;
            }
            .nav-item {
                line-height: 1.1;
                width: 100%;
                &.tabula_sub-about span,
                &.tabula_sub-about .tabula_sub-list:nth-child(3) {
                    font-weight: 600;
                }
            }
            .navHome,
            .tabula_sub-about,
            .tabula_sub-course,
            .tabula_sub-blog,
            .tabula_sub-shop,
            .tabula_sub-ele {
                &::before {
                    display: none;
                }
                .tabula_sub-title {
                    font-size: $fse-1 + 0.1;
                    font-weight: 400;
                }

                text-align: center;
                &.show {
                    .tabula_sub-mobile{
                        display: block;
                    }
                }
            }
            .tabula_sub-mobile {
                display: none;
            }
            .tabula_sub2 {
                .tabula_sub-items {
                    .tabula_sub-list {
                        padding: 1em 2em;
                        line-height: 1.1;
                    }
                }
            }
            .tabula_sub-list {
                font-size: $fse-1;
                &.show {
                    .tabula_sub-items,
                    .fa-angle-up,
                    .tabula_sub2-mobile {
                        display: block;
                    }
                    .fa-angle-down {
                        display: none;
                    }
                }
                .tabula_sub2-mobile {
                    display: none;
                }
                .tabula_sub-items,
                .tabula_sub-list-sub,
                .fa-angle-down {
                    display: block;
                }
                &.tabula_sub-list-sub {
                    .tabula_sub-list-sub.tabula_sub-title {
                        padding: 1em 2em;
                        line-height: 1.1;
                    }
                    .tabula_sub2-mobile {
                        .tabula_sub2-mobile-itemss {
                            padding: 1em 2em;
                        }
                        .tabula_sub-list {
                            font-size: $fse-1 - 0.1;
                            opacity: 0.7;
                            padding: 1em 2em;
                        }
                    }
                }

                .tabula_sub-list-sub {
                    &.show {
                        .tabula_sub2-mobile,
                        .fa-angle-up {
                            display: block;
                        }
                        .fa-angle-down {
                            display: none;
                        }
                    }
                    .tabula_sub2-mobile,
                    .fa-angle-up {
                        display: none;
                    }
                    .fa-angle-down {
                        display: block;
                    }
                }
            }
            .tabula_sub-blog {
                .tabula_sub-list.tabula_sub-list-sub {
                    padding: 0;
                }
                .tabula_sub2-mobile {
                    li {
                        font-size: $fse-1;
                        padding: 1em 2em;
                        opacity: 0.8;
                    }
                }
            }
        }
        .tabula_sub-title {
            position: relative;
            i {
                cursor: pointer;
                position: absolute;
                font-size: $fse-1;
                right: 0;
                top: 55%;
                transform: translateY(-50%);
                transition: all 0.4s;
            }

            .fa-angle-up {
                display: none;
            }
        }
        .navbar-nav {
            padding: 0 50px;
        }
    }
}

@include responsive("extra-large") {
}

@include responsive("large") {
    #header_first {
        .header_content {
            display: none;
        }
        .header_content2 {
            display: block;
        }
    }
    .tabula_wrapper-navbar {
        display: block;
        .tabula_logo {
            text-align: center;
        }
        .tabula_nav-contacts {
            flex-direction: column;
        }
    }
}