//color
$color-primary: #b61984;
$color-black: #181818;
$color-white: #fff;

// FONTSIZE
$fsr-1: 0.75rem;
$fsr-2: 1rem; //contact icon,header 0.9rem
$fsr-3: 1.55rem;
$fsr-4: 1.6rem;
$fsr-5: 2.5rem;
$fsr-6: 3.8rem;

$fsp-1: 13px; //nav bar 13px all
$fsp-2: 15px;

$fse-1: 0.9em; //footer tag a (contact...),
//0.8em are input
//iconfooter
$fse-2: 2em;

//fw
$fw1: 400;
$fw2: 500;

$fw3: 600;
$fw4: 700;
// floatLeft
.clear-both {
    clear: both;
}
